*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Open Sans;
}
.header{
    background-image: url("images/header_bg.png"), url("images/developer.png");
    background-repeat: no-repeat;
    background-position:bottom right, bottom left;
}
.upper-header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    padding: 23px 189px;
}
.r{
    color:#FD6E0A;
}

.nav{
    display: flex;
}
.nav li{
    color: #474747; 
    font-size: 20px;
    font-weight: 400;
    margin-right: 87px;

}
.underheader-btn{

    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    width: 102px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    font-weight: 700;
    font-size: 15px;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    height: 35px;
    width: 120px;
    font-size: 14px;
    color: white;
    font-weight: 800;
    border: none;
}
nav>button{
    margin-right: 100px;
}
.under-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;

}
.under-header-img>img{
    width: 427px;
    height: 668px;
    padding-left: 50px;
}
.under-header-description{
    padding-left: 10px;
}
.hello{
    color: #474747;
    font-size: 45px;
    font-weight: 600;

}
.name{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}
.name-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}
